.tag__custom {
  width: fit-content;
}
.__color-danger {
  background-color: #fff4f5;
  color: #d0000c;
}
.__color-success {
  color: #087a2a;
  background-color: #beffd2;
}
.__teal-color {
  background-color: #e4fffc;
}
