.inner-layout {
  min-width: 1000px;
  width: calc(100% - 256px);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.loading-spinner {
  margin: 10px auto;
  border: 3px solid #fff; /* Light grey */
  border-top: 3px solid #4c8af6; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1.2s linear infinite;
}

.loading-spinner-big {
  width: 100px;
  height: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dash-graph {
  grid-template-columns: 1fr 420px;
  height: 550px;
}

.dash-recent-list {
  height: calc(550px - 52px);
  overflow-y: auto;
}

.page-title {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    background: black;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 3px;
    z-index: 2;
  }
}

.outer {
  // width: 500px;
  height: fit-content;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.outer {
  .card {
    width: 60%;
    // background-color: #eee;
    float: none;
    height: min-content;
    // margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
  }
}
.custom-select-input {
  div {
    div {
      div:nth-child(2) {
        padding: 7px;
      }
    }
  }
}

@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 100%;

  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: rgb(31, 31, 31);
    border-radius: 6px;
    display: inline-block;
    height: 6px;
    width: 6px;
    box-sizing: border-box;
    margin: 2px;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}
